@model List<FarmaciaSantaRita.Models.Compra>
@{
    ViewData["Title"] = "Recuperar Cliente";
}

@Html.AntiForgeryToken()
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

<!-- Botón para volver a Cuentas de Clientes -->
<a href="@Url.Action("Index", "CuentaCliente")" class="btn btn-primary btn-lg">
    Volver a Cuentas de Clientes
</a>